rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if true;
    }
    match /users/{userId}/invoices/{document=**} {
      allow read: if true;
    }
    match /users/{userId}/receipts/{document=**} {
      allow read: if true;
    }
    match /users/{userId}/{document=**} {
      allow write, read: if request.auth != null && request.auth.uid == userId;
    }
  }
}
