// app global css in SCSS form
.bg-light {
    background: $secondary !important;
    background: -webkit-linear-gradient(to right, $secondary, $indigo-3) !important;
    background: linear-gradient(to bottom, $secondary, $indigo-3) !important;
}

.bg-dark {
    background: $accent !important;
    background: -webkit-linear-gradient(to right, $accent, $indigo-10) !important;
    background: linear-gradient(to bottom, $accent, $indigo-10) !important;
}

.big {
    width: 95%;
    max-width: 1200px;
}

.medium {
    width: 80%;
    max-width: 400px;
}

.default-button {
    min-width: 90px;
}
